:host {
  display: block;
  width: 100%;
}

.content-section {
  opacity: 0;
  transition: opacity 0.5s;
  padding: 60px;
}

.text-element {
  opacity: 0;
  transform: translateY(-50px);
}

.image-element {
  opacity: 0;
  transform: translateX(-50px);
}

@media (max-width: 600px) {
  :host {
    height: calc(100vh - 10rem); /* Ajuste para dispositivos menores */
  }
}
