:host {
  display: block;
  width: 100%;
}

.content-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
  padding:60px;
}

@media (max-width: 600px) {
  :host {
    height: calc(100vh - 10rem); /* Ajuste para dispositivos menores */
  }
}
