@media (max-width: 600px) {
  :host {
    height: calc(85vh - 1rem)!important; /* Ajuste para dispositivos menores */
  }
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(85vh - 2rem);
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}
